/*---VARIABLES----*/

$color-home:#6cc4c4;
$color-nosotros:#6890ad;
$color-novedades:#f4947c;
$color-servicios:#f9bf90;
$color-contacto:#F2D49B;

$altura-titulos-ancho:2rem;
$altura-texto-ancho:1.3rem;
$altura-titulos-mobile:1.2rem;
$altura-texto-mobile:0.8rem;

$tipografia-especial:'Oswald', sans-serif;

$fondo-pagina:"../img/background.png";
