#cajon-servicios {
    opacity: 80%;
    margin: 10px auto 10px;
    width: 100%;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.196);
    position: relative;
    border-radius: 8px;
    background-color: $color-servicios;
}

#estilo-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    >div {
        flex-basis: calc(50% - 20px);
    }
}

#titulo-servicios {

    text-align: center;
    font-size: $altura-titulos-ancho;
    font-weight: 400;
    font-family: $tipografia-especial;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}

#texto-servicios,
h3 {
    vertical-align: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 90%;
    font-size: $altura-texto-ancho;
    font-weight: 400;
    font-family: $tipografia-especial;
    margin-bottom: 20px;
    color: white;
}

#imagenes-servicios img {

    background-size: cover;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.196);
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

#estilo-cajones-imagenes-texto {
    border-radius: 8px;
    margin: 10px auto 10px;
    background-color: #0000000b;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.196);
}