#logo {

    position: relative;
    z-index: 4;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.7));
}